.break {
  flex-basis: 100%;
}

.new {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.new_config {
  position: relative;
  width: 35%;
}

.new_config_new-tab {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.new_config_new-tab > * {
  margin: 10px 5px;
}

.new_config_tabs {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
}

.new_config_tab-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.new_config_tab-item:nth-child(even) {
  background-color: lightgray;
}

.new_config_tab-item_attr {
  flex-basis: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px;
}
.new_config_tab-item_attr span {
  margin-right: 5px;
}
.new_config_tab-item_attr button {
  margin-right: 5px;
}

.new_config_tab-item_controls button {
  margin: 5px;
}

.new_config_tab-url,
.new_config_tab-embed {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.new_config_tab-embed input {
  width: 100%;
  margin: 5px 0;
}

.new_config_tab-url-field {
  margin-right: 10px;
  flex-grow: 1;
}

.new_config_tab-embed-area {
  margin: 5px 0;
  margin-right: 10px;
  flex-grow: 1;
}

.new_preview {
  position: relative;
  width: 50%;
}

.preview_overflow {
  overflow: hidden;
}
