body {
  --brand-primary: #00345f;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, sans-serif;
}

.app, .tabs {
  width: 100%;
  height: 100vh;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.react-tabs__tab-list {
  margin-bottom: 0;
  border-bottom: 5px var(--brand-primary) solid;
}

.react-tabs__tab--selected {
  background-color: var(--brand-primary);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 0;
}

.panel-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-grow: 1;
  display: flex;
  justify-content: stretch;

  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
}

.react-tabs__tab-panel--selected {
  opacity: 1;
}

.frame {
  display: block;
  flex-grow: 1;
  margin: 10px;
  border: 0;
}
